:root {
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.blur {
}

.content {
}
.fade {
}

.zoom {
}

.slide-left {
}

.slide-right {
}

.slide-up {
}

.slide-down {
}

.gray {
}
